.nav-menu {
  background: #121312;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-bar {
  display: flex;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
}

.navbar-toggle {
  background: #121312;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-bar {
  font-size: 2rem;
  margin-left: 2rem;
}

svg {
  color: white;
}

.nav-menu-item {
  width: 100%;
}

.menu-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.menu-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.menu-text a:hover {
  background: orange;
  border-radius: 5px;
}

span {
  margin-left: 16px;
}
