body {
  background: lightblue;
  color: #202020;
  font-size: 2.5rem;
  text-align: center;
}

img {
  margin-top: 50px;
  width: 25%;
  height: 25%;
}

button {
  background: #3498db;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 5px;
}
